<section = "top-image">
    <div class= "container">
        <%= image_tag "http://demo.themegraphy.com/write-ja/wp-content/uploads/sites/14/2018/06/cropped-nicole-honeywill-730102-unsplash.jpg" %>
        <p>Writeは文章を書く人のためのミニマルなWordPressテーマです。装飾を極限まで省いたデザインは、あなたの文章を主役にします。 </p>
    </div>
</section>
<section ="feeds">
    <div class= "container">
        blogfeed
    </div>
</section>