<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="footer-widget-table">
        <div class="footer-widger-side col-md-2">
          <div class="footer-widget-1 widget-area">
            <div class="profilewidget">
              <div class="profilewidget-profile">
                <img src="http://demo.themegraphy.com/graphy/wp-content/uploads/sites/4/2016/06/profile-m.png" alt="John Doe" scale="0">
              </div>
              <div class="profilewidget-name">
                <strong>John Doe</strong>
              </div>
              <div class="profilewidget-link menu">
                <a href="https://twitter.com/WordPress"></a>
                <a href="https://www.facebook.com/WordPress"></a>
                <a href="https://www.instagram.com/unsplash/"></a>
              </div>
              <div class="profilewidget-text">
                <p>これはプロフィールウィジェットです。ここにはプロフィール画像・名前・自己紹介文・ソーシャルリンク（最大7つ）を設定することができます。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-widget-main col-md-9">
          <div class="footer-widget">
            <div class="footer-widget-2 widget-area">
              <aside class="widget widget-text">
                <h2>フッター右</h2>
                <div class="textwidget"><p>3つのフッター右ウィジェットエリアはフッターの右側に表示され、使用する数によって幅は自動的に調整されます。1つも使用しない場合は表示されません。</p></div>
              </aside>
            </div>
            <div class="footer-widget-3 widget-area">
              <aside class="widget widget-text">
                <h2>最近の投稿</h2>
                <div class="textwidget">
                  <!--<%# @microposts.each do |micropost| %>-->
                  <!--  <h3><a href="microposts/<%#= micropost.id %>"><%#= micropost.title %></a></h3>-->
                  <!--  <p><%#= micropost.created_at.strftime("%Y年%m月%d日") %></p>-->
                  <!--<%# end %>-->
                </div>
              </aside>
            </div>
            <div class="footer-widget-4 widget-area">
              <aside class="widget widget-text">
                <h2>カテゴリー</h2>
                <div class="textwidget"></div>
               </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-md-1">
  
      Twitter Facebook Instagram
      </div>
      <div class="col-md-offset-4 col-md-4">
  
  Powered by WordPress	| Theme: Write by Themegraphy
      </div>
    </div>
  </div>
</footer>