<footer class="footer">
  <div class="container">
    <p class="text-muted text-center py-2">

    Twitter Facebook Instagram 

Powered by WordPress	| Theme: Write by Themegraphy </p>
  </div>
</footer>